[2020-04-18 20:49] dylanirlbeck opened #1 "Programmatically get class names from `tailwind.css` file"
We'll be using the `ocaml-css-parser` located here: https://github.com/astrada/ocaml-css-parser.

[2020-04-18 20:51] dylanirlbeck opened #2 "Implement the `-path` flag in the PPX"
See the README and the `graphql-ppx` schema example here: https://github.com/reasonml-community/graphql_ppx#-schema

I'm going to bucket this issue into programmatically getting a user's `tailwind.css` file, which will complete the MVP of this ppx.

[2020-04-18 20:52] dylanirlbeck opened #3 "Improve error messages"
- [x] Include suggestions i.e. `Did you mean 'flex-row'?`. We'll use the [Hamming distance](https://en.wikipedia.org/wiki/Hamming_distance) for this since there's a relatively small number of valid class names (we'll just extend the end of the smaller string with whitespace to make them equal length).
- [x] Handle parsing errors more elegantly
- [ ] Highlight the specific className that failed (ra

[2020-04-18 20:55] dylanirlbeck opened #4 "Allow expressions inside the ppx"
Instead of taking in a `Pconst_string` (which means you can only use the ppx if you know the class names at compile-time), we'd be better off taking in an expression that evaluates to a string (if that's possible) so people can make function calls or use identifiers inside the ppx.

[2020-04-19 15:24] dylanirlbeck opened #5 "Validate that no duplicate class names are used"

[2020-04-19 15:25] dylanirlbeck opened #6 "Validate that only one class name from a category is used"
For example `bg-mono-800` and `bg-mono-300`.

[2020-04-19 15:26] dylanirlbeck opened #7 "Validate that parent dependencies satisfied"
Think `flex-row` without setting `flex`

[2020-04-20 04:44] dylanirlbeck opened #8 "Set up GH Actions again"

[2020-04-20 20:32] #1 closed, assigned to dylanirlbeck

[2020-04-20 20:34] dylanirlbeck opened #10 "Deploy to npm and set up GH action"

[2020-04-20 20:36] dylanirlbeck opened #11 "Clean up dependencies and dune files"
There are dependencies that should either be (a) deleted or (b) moved to a `devDependency`.

[2020-04-20 21:33] dylanirlbeck opened #12 "Fix Windows deployment on CI"
Since I removed the windows deployment to get the GH action to pass, I should eventually go back and fix whatever's happening with Windows.

[2020-04-21 18:40] #8 closed, assigned to nobody

[2020-04-21 18:41] dylanirlbeck opened #14 "Add a demo project"
This project should live in an `example` directory and pull the PPX from NPM (I think this is the best approach).

[2020-04-21 19:43] #2 closed, assigned to nobody

[2020-04-21 21:48] #10 closed, assigned to dylanirlbeck

[2020-04-21 22:12] dylanirlbeck opened #16 "Add a unit test for parsing the base Tailwind classes"
We should have a unit test (or more) for making sure no errors are thrown while parsing the most basic tailwind.css (no config file).

[2020-04-22 20:41] #11 closed, assigned to dylanirlbeck

[2020-04-22 22:27] #16 closed, assigned to dylanirlbeck

[2020-04-22 22:52] dylanirlbeck opened #19 "Cache something to make the ppx faster"

[2020-04-22 23:05] dylanirlbeck opened #21 "Investigate at rules"
I don't do anything for now, but maybe I should..

[2020-04-22 23:12] #14 closed, assigned to dylanirlbeck

[2020-04-22 23:18] #19 closed, assigned to nobody

[2020-04-22 23:25] dylanirlbeck opened #23 "Don't run CI on changes to non-source files"
Right now GH actions runs on changes to the README.md and related files, which shouldn't happen.

[2020-04-23 02:05] dylanirlbeck opened #25 "Major performance problems"
Because the validation algorithm is so naive, performance is tanking for even moderately large files. We'll need a better caching mechanism to make sure we _only_ check the strings that have changed.

**Research**:
* GraphQL PPX:

[2020-04-23 02:05] #23 closed

[2020-04-23 15:57] #25 closed

[2020-04-23 18:56] #5 closed

[2020-04-24 07:03] prometheansacrifice commented on #4
Wouldn't accepting expressions leave some of the type checking for the runtime? Is there anytime planned for that?

[2020-04-24 13:37] dylanirlbeck commented on #4
@prometheansacrifice You bring up a great point! After thinking about this more, I should clarify what I meant (and maybe you can help!). Lots of people use `re-classnames` with Tailwind, so my goal was to somehow support using Cn.make inside of the PPX to validate the class names. For example, I'd `tailwind-ppx` like to support:

[code]

or something similar. We still know the class names at comp

[2020-04-24 14:48] dylanirlbeck opened #34 "Call for features!"
I'd love to hear everyone's feedback on new features you'd like to see in the PPX. Please thread ideas below so we can discuss!

[2020-04-25 19:52] zth commented on #4
First off all, excellent project, thank you so much for this! Really been waiting for something like this (and this also means I can finally let https://github.com/zth/bs-tailwind-ppx rest without feeling bad 😉).

I actually think _only_ using `Pconst_string` is a great feature. In fact, I think it could be taken as far as only allowing quotation mark strings and not `{||}` and friends.

The reaso

[2020-04-25 20:11] zth commented on #34
One feature I personally think would be cool is to instead of asking for the compiled Tailwind CSS file, asking the user to point to the CSS file where they _include_ the Tailwind code (like `@import "tailwindcss/base";
` etc). You could then use the Tailwind CLI via `npx` or similar to compile that into the CSS you need, parse and cache that in a more suitable format yourself in the PPX (maybe in

[2020-04-25 23:47] dylanirlbeck opened #39 "Adding support for the ppx to coc-tailwindcss"
I [opened a PR](https://github.com/iamcco/coc-tailwindcss/pull/28) to get the `coc-tailwindcss` Neovim plugin to support the syntax of this PPX so that folks can get auto-completion inside of the PPX. Hopefully I can get it merged!

This will allow you to get the following behavior inside of Neovim (my local machine):

<img width="1185" alt="Screen Shot 2020-04-25 at 6 46 51 PM" src="https://user-

[2020-04-25 23:56] dylanirlbeck commented on #4
@zth Thanks for the suggestion! I think for now the consensus seems to be leave the only accepted type as `Pconst_string`, but I'll explore enforcing quotations. I'm not a super experienced web developer, so I'm actually not familiar with PurgeCSS and/or the whole concept of purging unused classes.

I'd have to look into what this `extractor` function would look like, and it also appears I'd need

[2020-04-25 23:56] #4 closed

[2020-04-26 00:00] dylanirlbeck commented on #12
Closing since version 0.5.0 should also produce a Windows executable (I hopefully fixed the release.yml workflow in CI).

[2020-04-26 00:00] #12 closed

[2020-04-26 06:39] zth commented on #4
If you want to do that, I think you can enforce only quotations setting `quotation_delimiter: None` on `Pconst_string`.

Oh, no worries, and sorry, let me explain what I'm after a bit better!

By default, Tailwind will generate a huge CSS blob containing *all* its generated classes, regardless of whether you use them in your code or not. This results in an absolutely huge CSS file that in the typi

[2020-04-26 17:50] dylanirlbeck opened #40 "Consolidate GH actions into single workflow"
In the same way GraphQL PPX does it, I think we should have one workflow file - say, `pipeline.yml` that handles building, testing, and publishing all in one. We'd just need an if condition of sorts for the publishing job so it only runs when new tags are pushed to GitHub.

[2020-04-26 17:56] dylanirlbeck opened #41 "Purging unused CSS classes from Tailwind"
There's been a lot of good discussion about how this PPX could ultimately be used as a replacement to PurgeCSS for purging unused classes from the generated Tailwind class names. I'll be actively exploring how we could do this in `tailwind-ppx`, since this would add a whole lot of value.

For anyone just reading this, I'd highly recommend reading [Gabriel's comment](https://github.com/dylanirlbeck

[2020-04-26 17:59] dylanirlbeck opened #42 "Enforce quotations only"
Inspired by https://github.com/dylanirlbeck/tailwind-ppx/issues/4#issuecomment-619432169.

This will make implementing #41 significantly easier by enforcing a consistent format.

[2020-04-27 02:35] dylanirlbeck commented on #39
The PR got merged! I updated the README accordingly.

[2020-04-27 02:35] #39 closed

[2020-04-27 04:28] dylanirlbeck commented on #4
@zth That explanation was wonderful! Thank you very much for being so thorough. I'm going to make this feature the next big one on the roadmap, and I'll probably be consulting you for advice along the way 😄

[2020-04-27 09:16] zth commented on #4
@dylanirlbeck Awesome! 😄 I actually couldn't resist the urge, so I went ahead and did an initial PR with an extractor function as outlined above: https://github.com/dylanirlbeck/tailwind-ppx/pull/45/files 😬

[2020-04-27 13:30] #42 closed

[2020-04-27 14:32] dylanirlbeck opened #46 "Publish to opam"
This seems less useful than publishing to NPM, but we should still get a working version out to the opam registry.

[2020-04-28 15:09] #41 closed

[2020-04-28 15:20] dylanirlbeck opened #47 "Move demo to it's own Github repo"
So it can be cloned and maintained more easily.

[2020-04-28 17:40] tcoopman opened #48 "How to optionally enable/disable classes"
Is it possible to enable/disable classes based on some value? Like use `text-blue500` if something is true otherwise `text-gray-500`

[2020-04-28 17:49] tcoopman opened #49 "high cpu usage"
I'm using `tailwind-ppx` with vscode and ocamllsp and I'm seeing regular cpu spikes of `tailwind-ppx`.
Not sure there is anything I can do to debug this for you.

I only have used the `[%tw]` a couple of times in the project (3 or so).

[2020-04-28 18:01] dylanirlbeck commented on #48
Hi @tcoopman ! The proper way to do that would be with [`re-classnames`](https://github.com/MinimaHQ/re-classnames) and the `Cn.ifTrue` function. To integrate this with `tailwind-ppx`, you'd want to do the following (let me know if this doesn't work):

[code]

[2020-04-28 18:02] #48 closed

[2020-04-28 18:04] dylanirlbeck commented on #49
Thanks for raising the issue! I've been meaning to do some benchmarks to test the performance, since I created this PPX rather fast and the algorithms used for validation are fairly naive. Is there a Github repo you can send me so I can test it out locally?

There might be something related to your configuration that could be causing the issue, so I'm very curious.

[2020-04-28 18:25] dylanirlbeck commented on #21
Closing because it seems at rules don't matter...

[2020-04-28 18:28] dylanirlbeck opened #51 "Use the css-parser OPAM package"
I completely duplicated the CSS parser code between my repo and `ocaml-css-parser`, so instead I shoud be using it as a dependency from OPAM (see [this comment](https://github.com/astrada/ocaml-css-parser/issues/5#issuecomment-620770145)).

[2020-04-28 19:30] dylanirlbeck commented on #47
Done: https://github.com/dylanirlbeck/tailwind-ppx-demo

[2020-04-28 19:30] #47 closed

[2020-04-28 19:32] #40 closed

[2020-04-29 03:28] sync opened #53 "Responsive utility not yet supported ?"
Thanks a ton for working on this it's wonderful. I've just noticed that `sm:` and friends weren't supported is that right ?

https://tailwindcss.com/docs/responsive-design/#app

<img width="1025" alt="Screen Shot 2020-04-29 at 1 25 54 pm" src="https://user-images.githubusercontent.com/21725/80558321-4e443900-8a1d-11ea-95ec-13b714c5aafa.png">

[2020-04-29 08:23] tcoopman commented on #49
@dylanirlbeck I have a private repo  that I could share with you? Do you have any way of contacting you directly?

[2020-04-29 14:28] dylanirlbeck commented on #49
My email is dylanirlbeck@gmail.com; feel free to reach out!

[2020-04-29 14:32] dylanirlbeck commented on #53
If the class name shows up in your `tailwind.css` file, it should get found. Can you double-check your generated `tailwind.css` file has the following:

[code]

I'll investigate this a bit further, and add a test or two for responsive utilities.

[2020-04-29 15:30] dylanirlbeck commented on #53
So on my end I'm not able to get responsive utilities to work (even though they're in the `tailwind.css`), so I'll investigate this further. Thanks for bringing up this issue!

[2020-04-29 17:04] dylanirlbeck commented on #21
Reopening because we should be supporting things nested inside at rules!

For example:

[code]

This is directly affecting #53

[2020-04-29 17:53] #21 closed

[2020-04-29 17:53] #53 closed

[2020-04-29 18:27] dylanirlbeck opened #55 "NPM Installation broken"
Currently failing for versions 0.6.0 and 0.6.1...

[2020-04-29 19:13] dylanirlbeck commented on #55
Fixed in version 0.6.2.

[2020-04-29 19:13] #55 closed

[2020-04-29 19:14] dylanirlbeck commented on #53
@sync Can you double-check if you're still getting this issue with `v0.6.2` of `tailwind-ppx`? I just released a new version.

[2020-04-29 19:16] sync commented on #53
Will do this in a couple of hours, still early morning in Australia. Thank you so much 😊

[2020-04-29 21:36] sync commented on #53
@dylanirlbeck it works thank you :-)

[2020-04-29 21:38] sync commented on #34
yes same would make it easier to work with next.js,  if you look at the default example you don't even have access the the main tailwind css:
https://github.com/zeit/next.js/tree/canary/examples/with-tailwindcss

[2020-04-29 21:45] sync opened #58 "Extractor issues with bsb -clean-world"
If i run a bsb clean before running build, bsb will remove the tailwind.css file and then when i run build it fail to compile saying the tailwind.css file is missing. At the end of this process (even with a build failure) the generator will generate the tailwind.css file. Next time i run bsb build it compiles properly.

[2020-04-29 21:56] sync opened #59 "focus:outline-none class name not found"
thanks agains for this. I am slowly backporting my app to this ppx and finding issues as we go.

https://tailwindcss.com/docs/pseudo-class-variants/#app

<img width="1680" alt="Screen Shot 2020-04-30 at 7 54 13 am" src="https://user-images.githubusercontent.com/21725/80650796-feff1680-8ab7-11ea-998a-58487f148fe0.png">

[2020-04-29 21:57] sync commented on #59
same for `focus:shadow-outline`

[2020-04-29 22:18] sync opened #60 "Custom colors don't work"
<img width="704" alt="Screen Shot 2020-04-30 at 8 17 35 am" src="https://user-images.githubusercontent.com/21725/80652353-11c71a80-8abb-11ea-96cd-376cc75afd8f.png">

[code]

[2020-04-29 22:40] azkane commented on #60
Hey!

Are you using the example code for rebuilding the tailwind.css file that is in the [readme](https://github.com/dylanirlbeck/tailwind-ppx#moving-or-changing-your-tailwindcss-file)?

I had an issue with it using a custom tailwind config, it seems that the `tailwindcss` command is run in the bucklescript distribution directory (ignoring the config file), I had to define it like this for it to w

[2020-04-29 22:48] azkane commented on #34
It would be cool to support conditionally added classes, I'm currently doing it like this, but don't think it should be the right approach.

![test](https://user-images.githubusercontent.com/3322582/80654208-60d06980-8a41-11ea-9590-0574400ac6ab.png)

I'll help with patches if we can agree on some syntax for it

[2020-04-29 22:48] dylanirlbeck commented on #58
Can you send me your `bsconfig.json` and/or send me a GH repo that I can use to reproduce? I might need to circle back on the generator logic, so it might be best to remove it for now.

[2020-04-29 22:49] dylanirlbeck commented on #59
@sync Thanks for bringing up these issues! You're probably one of the first serious users, so I appreciate your patience as we progress towards a `v1.0`. I'll get a PR out for this bug asap --- hopefully I can also fix the ppx logic so no more class names get incorrectly ignored in the future.

[2020-04-29 22:51] dylanirlbeck commented on #34
@azkane Check out [this comment](https://github.com/dylanirlbeck/tailwind-ppx/issues/48#issuecomment-620765352) where I answered a question directly related to your issue. I like the API of `[%tw "..."]` because it simplifies the extractor function logic (for PurgeCSS).

[2020-04-29 22:53] dylanirlbeck commented on #34
@sync I think your suggestion is totally valid -- for any production app you'll likely be using PostCSS and not manually generating the Tailwind file. I think it's clear that this is the direction in which `tailwind-ppx` needs to go, so I'll make this the next big feature.

[2020-04-29 22:57] dylanirlbeck commented on #60
@sync Custom colors should work, since `tailwind-ppx` only knows about whatever `tailwind.css` file you provide it (and implicitly knows about your `tailwind.config.js` if `tailwind.css` has been generated properly). Please take a look at @azkane 's comment as well, as that may provide some insight.

@azkane If there is something wrong with the README section on generators can you open a PR? Thank

[2020-04-29 23:00] dylanirlbeck opened #62 "Change PPX to look at `index.css` instead of `tailwind.css` by default"
Per some [good](https://github.com/dylanirlbeck/tailwind-ppx/issues/34#issuecomment-619434321) [comments](https://github.com/dylanirlbeck/tailwind-ppx/issues/34#issuecomment-621479045) on my call for features, we should modify the PPX to instead look at the file where the Tailwind code is _included_ (i.e. wherever the user puts `@import tailwindcss/...`).

This feature could either be a configurat

[2020-04-29 23:02] dylanirlbeck commented on #62
At the moment, I'm of the opinion that the PPX should instead be given the path to the `index.css` in its `-path` parameter, and do some internal logic to pre-process the file through the Tailwind CLI. This feature would almost certainly be tied to #25 , since we'll need to implement some sort of cache so we don't rebuild the `tailwind.css` file every single time.

[2020-04-29 23:37] sync commented on #58
[code]

[2020-04-29 23:38] sync commented on #59
you don't need to rush take your time, none of these are a blocker, i'll use it when it's ready

[2020-04-29 23:40] sync commented on #60
cool i'll have a loot at tweaking the tailwind.config.js

[2020-04-29 23:46] azkane commented on #59
I hope this is a good issue to aggregate classes that aren't working right now. I've found some:

- `.group` and `.group-hover:*`
The tailwind.css file doesn't explicitly generate a class for `.group` so it might get ignored (it was in postcss-bs-tailwind), it's written like this in the css: `.group:hover .group-hover\:bg-black`, the ppx reports it doesn't exist.

Using the `.group-hover` prefixed

[2020-04-30 18:43] azkane commented on #62
Hey, sorry if I'm missing something, but isn't this already the behavior when using the generator feature in bsconfig + specify `-path`?

[2020-04-30 19:04] dylanirlbeck commented on #62
@azkane So you're correct in that it will essentially be the same behavior, though my idea was that this feature will _complement_ having the generator in your bsconfig. Let me try to explain explain (though I may be wrong b/c I recently learned about generators!).

Most people, and any production applications, will likely be using [PostCSS](https://tailwindcss.com/docs/installation/#using-tailwin

[2020-04-30 19:06] dylanirlbeck commented on #60
@sync If you could circle back after trying to modify your tailwind config to confirm if this is still an issue I'd appreciate it. Thanks!

[2020-04-30 23:58] sync commented on #60
i'll check this soon :-)

[2020-05-01 05:06] #59 closed

[2020-05-01 05:11] dylanirlbeck commented on #46
I'm actually going to table this for now --- if anyone in the future request this I'll reconsider publishing to OPAM.

[2020-05-01 10:19] zth commented on #62
@dylanirlbeck my initial idea, that isn't that thought through yet, is to have the PPX call the Tailwind CLI *itself* using the `index.css` (or whatever it's called by the user) to produce the CSS containing all the classes available. The results of that + whatever processing you're doing with the CSS parser could then be cached in some local directory (`node_modules/.cache/tailwind-ppx` perhaps,

[2020-05-01 14:56] dylanirlbeck commented on #59
@azkane @sync Can you both double-check to see if you're still seeing this issue with `v0.6.3` https://www.npmjs.com/package/@dylanirlbeck/tailwind-ppx? I just released a new version that hopefully fixes these bugs.

[2020-05-01 18:02] dylanirlbeck opened #67 "Investigate esy build cache in GH Actions"
It doesn't look like jobs are caching the `esy build` correctly, which is slowing down the workflows --- worth investigating.

[2020-05-01 23:02] azkane opened #69 ".group class of group-hover utility is not being picked up"
Hey!

I mentioned this before in #59, the `group-hover:*` classes are working in the latest version (0.6.4) but the `.group` class isn't being detected.

![test](https://user-images.githubusercontent.com/3322582/80847530-aaea5400-8bd5-11ea-8384-de5979852482.png)

The `.group` class is needed in the parent for the `group-hover:*` classes to work.

[2020-05-02 01:11] azkane commented on #62
Hey!

I've been giving it some thought and experimenting with the demo project. I've found that configuring generators with postcss covers mostly all the points you both guys raised.

No need to commit the final build file, by defining a generator step that runs `postcss-cli` at build time that generates the final css file. This has the advantage of tailwind-ppx not picking up only the rules defin

[2020-05-02 07:53] sync commented on #60
sorry for the late reply all good

[2020-05-02 07:54] sync commented on #59
having a look in the next couple of hours

[2020-05-02 11:06] tcoopman commented on #59
For me they seem all ok now :+1:

[2020-05-02 19:32] #60 closed

[2020-05-03 03:51] sync commented on #59
All good I have successfully backported all my css to the ppx but it's quite slow i'll open another issue

[2020-05-03 03:51] sync commented on #59
feel free to close this issue, amazing work thank you

[2020-05-03 03:59] sync opened #72 "Peformance Issues"
If i make a change to a className to with the ppx:

For example this component has 8 different class names.

### with the ppx
<img width="501" alt="with_ppx" src="https://user-images.githubusercontent.com/21725/80898382-18b58d80-8d46-11ea-8f38-1443950dfe8c.png">

### without the ppx
<img width="453" alt="witout_ppx" src="https://user-images.githubusercontent.com/21725/80898383-1fdc9b80-8d46-11ea-9

[2020-05-03 04:29] dylanirlbeck commented on #72
Hi @sync . Thanks for bringing up this issue --- I'll need to dive deeper into benchmarking this week since other users have also been experiencing performance issues. I'm confident there are some hacks I can do to speed up the performance, so stay tuned.

[2020-05-03 04:31] sync commented on #72
Thank you and once more no pressure at all, thinks are looking good already and I am certain you'll be able to figure it out :-)

[2020-05-03 04:38] dylanirlbeck commented on #49
@tcoopman Someone else reported performance issues on #72 --- I'm going to move the discussion about performance there. This upcoming week I'll spend some time investigating how I can improve the performance, since a few things come to mind.

[2020-05-03 04:38] #49 closed

[2020-05-03 04:54] #67 closed

[2020-05-03 05:12] tcoopman commented on #72
I noticed similar performance issues so let me know if I can test anything.
I think a good idea would be to have some benchmarks added somewhere?
Maybe just a huge component with lots of classes could already be enough?

[2020-05-03 05:14] dylanirlbeck commented on #69
Ah yes, very good catch (and great PR!). I did not realize that the `.group` class was needed.

[2020-05-03 08:50] azkane commented on #51
Do you need help with this? I could take a shot at if if you want.

[2020-05-03 15:50] tatchi commented on #72
I've tried to measure some of the function's execution time and it turns out that the parsing of the css file is the one taking most of the time.

This function is run during every compilation. Since the result of this function should always be the same for the same css file content, it would probably be nice to somehow cache the result across compilation.

I've tried to store the result in a file

[2020-05-03 16:03] dylanirlbeck commented on #72
@tatchi This was my idea exactly --- I'm planning on adding a cache that hashes the contents of the tailwind.css file, and only parse again only if the hash differs. I'd welcome anyone who has other ideas (I have a few), but this is an obvious first step towards improving performance!

[2020-05-03 16:09] dylanirlbeck commented on #51
@azkane PRs are definitely welcome! I'd hope this would be a straightforward conversion, since the code is the same (you'll be able to remove any parser/lexer files from the `tailwind-ppx` code). The opam package name is `css-parser`.

Let me know if you need any help! I'll _tentatively_ assign this issue to you, though there is no rush to work on it.

[2020-05-03 16:11] #69 closed

[2020-05-03 16:15] tatchi commented on #72
@dylanirlbeck Thanks. Were you thinking about storing the result of the parsing in a file or do you have a better solution?

[2020-05-03 16:20] dylanirlbeck commented on #72
So @tatchi my thought was that the actual result of the parser is not super important - what's more important are the acceptable class names (that you get after parsing). For the cache, I was thinking about doing something along the lines of a JSON object with the following schema

[code]

Upon re-building the project we just re-hash the tailwind.css file and compare it to what's in the `.tailwind

[2020-05-03 17:12] tcoopman commented on #72
I guess storing something in a file is a good approach. To keep something in memory you would need an other process that stays up between builds, but I don't think there is support from the build files for this, so personally I wouldn't take this approach.

2 possible performance improvements that could be added to the file approach (later?):

1. Maybe it's a good idea to measure the cost of hashi

[2020-05-03 17:28] tcoopman commented on #72
For 2 the Marshal module might be useful: https://caml.inria.fr/pub/docs/manual-ocaml/libref/Marshal.html this would allow you to store and read the Set directly which is probably a good deal faster than parsing the json and creating a set out of it.

[2020-05-03 17:28] tatchi commented on #72
Indeed, I also thought about storing the acceptable classNames since at the end that's what we need. I guess it should be also smaller which is good. I'll make this change and add the hashing logic to my branch :)

[2020-05-03 17:30] tatchi commented on #72
Indeed that's what I've been using. It's not safe but I guess in this scenario it should be fine :)

[2020-05-03 17:44] dylanirlbeck commented on #72
Wow that Marshal module looks like exactly what we need for this! Great find 😄

@tatchi I don't want to duplicate any work you might be doing with hashing/caching --- are you planning on opening a PR?

[2020-05-03 17:53] tatchi commented on #72
@dylanirlbeck Yes, I would be happy to open a PR if it's ok for you. I still need to include some changes following our discussion and it should be good.

[2020-05-04 15:36] dylanirlbeck commented on #58
So I did some investigation, and added the generator definition to the [demo project](https://github.com/dylanirlbeck/tailwind-ppx-demo). This seems to be an unavoidable issue with how the generator works --- I think your best bet is to separate our the clean and build/watch steps so you're not cleaning the project each time (if you're doing this already).

I'll close this for now, though maybe so

[2020-05-04 15:36] #58 closed

[2020-05-04 23:27] dylanirlbeck commented on #62
@zth @azkane What do you both think about the PPX having two different "configurations" by passing in certain parameters. Let me explain:

Use #1: Passing in a `-raw ../path/to/tailwind.css` parameter that tells the PPX _exactly_ where to find the generated `tailwind.css` file. This option is for those who aren't using PostCSS. We would highly recommend using the generator in the `bsconfig.json` t

[2020-05-05 17:39] dylanirlbeck commented on #46
Reopening since I actually got a request for this package to be on OPAM. Part of this issue should be adding back the README section on installation with `esy`: https://github.com/dylanirlbeck/tailwind-ppx/commit/c878c635bd884e5a28c070508cef773098b81627

[2020-05-05 18:19] #46 closed

[2020-05-05 21:08] dylanirlbeck commented on #72
@sync @tcoopman Can you both upgrade your `tailwind-ppx` version to 0.7.0? I just merged in the PR for caching so hopefully you all see major improvements!! (let me know if you don't)

[2020-05-06 05:50] tcoopman commented on #72
Looks a lot better. I saw a spike the first time, but after the cache was created it seems a lot better. This was a quick test so far, if I see anything else I'll let you know.

Great work @tatchi!

Maybe it would be good to add this to the readme so people know they should probably put the `.tailwind_ppx_cache` in `.gitignore` and explain why it's there.

[2020-05-06 05:54] tcoopman commented on #72
I'm on Linux btw, maybe it would be good to test this on all platforms.

[2020-05-06 18:29] dylanirlbeck commented on #72
@tcoopman Docs are already added: https://github.com/dylanirlbeck/tailwind-ppx#ignore-tailwind_ppx_cache-in-your-version-control. Can you see if there's anything to add?

[2020-05-06 21:12] dylanirlbeck opened #77 "Add a table of contents/reorganize README"
The README is getting a bit clunky, so I'm looking to (a) add a table of contents and (b) see if there's anything we can make more concise or remove (or perhaps move to the GitHub Wiki?).

Please thread ideas for the README below!

[2020-05-07 14:57] dylanirlbeck opened #78 "Add benchmarking"
In order to truly convince people about the benefits of the PPX, we should do some sort of benchmarking with different project configurations and usage numbers of the PPX.

[2020-05-07 15:07] dylanirlbeck commented on #77
IDEA: Put the `Usage` section before the `Installation` section. We don't want people scrolling forever before finding out the benefits.

[2020-05-07 17:08] #77 closed

[2020-05-07 18:07] dylanirlbeck commented on #72
Going to close this out for now. Feel free to re-open if performance issues come up again! I'll hopefully be adding benchmarking in the near future as well.

[2020-05-07 18:07] #72 closed

[2020-05-08 18:36] dylanirlbeck opened #81 "Create script to integrate the PPX on entire codebase"
It'd be a neat idea to create a script you can run which inserts tailwind-ppx into your entire codebase... could help with immediate catching of errors and would be as simple as the following regexp:

[code]

[2020-05-08 18:39] dylanirlbeck commented on #6
I think this should be an opt-in flag to the PPX, since it'll add quite a bit of overhead to the validation.

[2020-05-08 18:40] dylanirlbeck commented on #7
Again, this should be an opt-in feature, much like #6

[2020-05-09 19:26] dylanirlbeck opened #82 "Add linting step for PRs"
Following the model here: https://github.com/reason-native-web/morph/blob/master/.github/workflows/lint_pr.yml, we should add a GH action that lints/formats PRs, and also fix the esy format command by adding an `.ocamlformat` file to the project root.

[2020-05-11 22:20] #82 closed

[2020-05-11 22:45] dylanirlbeck commented on #51
Closing this for now, since the parser uses OCaml v4.09 (or similar) while `tailwind-ppx` uses 4.06 (consistent with BuckleScript). If someone wants to tackle this in the future, then go ahead, but we should try to avoid bumping the Ocaml version unless absolutely necessary (imo).

[2020-05-11 22:45] #51 closed

[2020-05-11 22:49] dylanirlbeck commented on #34
I'm going to close this out and instead instruct people to open an issue if they have feature requests. Thank you all for your comments!

[2020-05-11 22:49] #34 closed

[2020-05-15 21:10] #81 closed

[2020-05-16 19:16] dylanirlbeck opened #86 "Extend the use-tailwind-ppx script with new parameters"
To make the script more useful, I think it'd be helpful to have the script take in the following parameters:
* `--file <path/to/file>`: takes in a single Reason file - check the extension (we need to have this one)
* `--write`: tells the script to actually write the new contents, in-place (this parameter is up for discussion). If `--write`is not supplied, print the new contents to the console.

[2020-05-17 15:58] dylanirlbeck opened #87 "Update OCaml version to 4.10"
Based on this post - https://reasonml.chat/t/ppx-no-need-for-separate-ppx-and-ppx6-with-ocaml-migrate-parsetree-1-6-0/2210 - it seems we can bump the version of OCaml to 4.10 while still preserving backwards compatibility with the current version of BuckleScript.

This would also allow us to use the css-parser dependency from OPAM, instead of duplicating the code (#80)

cc @tatchi for your thought

[2020-05-20 03:47] celsobonutti opened #88 "VSCode autocompletion"
I know there's support for `tailwind-coc` in Neovim, but is `vscode-tailwindcss` support planned?

I don't have much experience with VSCode extension development, but I'm more than willing to help in whatever I can.

[2020-05-20 05:44] dylanirlbeck commented on #88
@celsobonutti Good call! I just opened an issue for this in `vscode-tailwindcss`, so hopefully we can get a response there: https://github.com/bradlc/vscode-tailwindcss/issues/120

If you want an example of how I implemented auto-completion support in `coc-tailwindcss`, see [this PR](https://github.com/iamcco/coc-tailwindcss/pull/28/files). Perhaps it could provide some inspiration to open a PR in

[2020-05-20 06:28] celsobonutti commented on #88
@dylanirlbeck thanks man, I was in doubt if this should be done here or in `vscode-tailwind`.

Thank your very much for showing me your `coc-tailwindcss` PR, I'll try to create one for VSCode ASAP.

[2020-05-20 11:15] gaku-sei opened #89 "Fails to parse some at rules"
First of all, thank you for this very handy ppx 😄

While trying it on our project, we faced a parse error issue `Utils.ParseError("Your Tailwind CSS file could not be parsed. Please double-check to make sure it's valid CSS.")` that seems to be caused by the `@-webkit-keyframes` rule (and could be probably be triggered by other rules vendor prefixed).

Since the rules are hardcoded (and validated)

[2020-05-20 19:35] dylanirlbeck commented on #89
That's a weird issue you're experiencing, can you send me the entire rule in your CSS so I can reproduce on my end? Thanks! Any valid tailwind.css file should be parsed correctly, so this is an important bug to fix.

[2020-05-20 23:45] gaku-sei commented on #89
Sure, here is an example of a rule that fails to parse:

[code]

Notice that the same rule (without the vendor prefix) will parse successfully:

[code]

[2020-05-21 00:34] dylanirlbeck commented on #89
Oops, sorry for the accidental close --- this issue should be fixed ASAP, thanks for sending me the snippet! I'll ping you here when I've published a fix in the parser.

[2020-05-21 02:15] gaku-sei commented on #89
Thank you very much for the fast reply, that's really nice to read!

It's not urgent, we could move the animations out for now 👍

[2020-05-21 23:22] dylanirlbeck opened #90 "Create social media icon for repo"
https://github.blog/changelog/2019-04-16-repository-social-media-image/

Some helpful resources:
* https://github.com/pqt/social-preview

[2020-05-22 01:51] gaku-sei opened #92 "Raises random End_of_file exceptions"
When using tailwind-ppx on circle ci we get random `End_of_file` exceptions:

<img width="1143" alt="Capture d’écran 2020-05-22 à 10 45 59" src="https://user-images.githubusercontent.com/3982371/82622750-83593b00-9c19-11ea-95f7-5a7fb1fe545b.png">

Here is the whole command ran by `bsc`
[code]

I thought it could be related to https://github.com/BuckleScript/bucklescript/issues/4103, but there is

[2020-05-22 18:01] dylanirlbeck commented on #92
Hmm this is weird, I haven't seen this before on my end. Can I ask what version of BuckleScript you're using?

[2020-05-22 18:03] #89 closed

[2020-05-22 18:07] dylanirlbeck commented on #88
@celsobonutti  Take a look at this comment in `vscode-tailwindcss` by (seemingly) one of the maintainers: https://github.com/bradlc/vscode-tailwindcss/issues/120#issuecomment-631389316.

If you'll be too busy I'd be happy to try and open a PR, though it'd be awesome if you could! VSCode support is definitely a must-have.

[2020-05-22 19:01] dylanirlbeck commented on #89
@gaku-sei This should be fixed in 0.7.7. Can you try it out on your end? https://www.npmjs.com/package/@dylanirlbeck/tailwind-ppx

[2020-05-22 21:05] dylanirlbeck opened #94 "Change executable name to ppx"
Right now, users of the ppx have to do `@dylanirlbeck/tailwind-ppx/tailwind-ppx`. Instead, I'd like the path to be `@dylanirlbeck/tailwind-ppx/ppx` (or `../ppx.exe` for Windows).

[2020-05-23 01:44] celsobonutti commented on #88
Hey @dylanirlbeck! I had a hard time this week at my work and couldn't work on that PR.

I'll do it tomorrow or Sunday for sure, 100% agree that VSCode support is a must-have.

[2020-05-23 23:59] dylanirlbeck commented on #88
No worries! There's no rush --- let me know if you have any questions or need a code review 😄

[2020-05-25 20:29] celsobonutti commented on #88
Hey @dylanirlbeck, I've created a PR: bradlc/vscode-tailwindcss#122

But I'm not able to test the extension at all. I also tried to do some other changes and see if they have any effect, but had no luck. Can you help me with that?

Thank you very much!

[2020-05-30 18:52] bdunn313 opened #96 "Cannot be installed on win32 x64 despite having correct binaries"
Even though windows binaries exist, installation fails on win32 x64.

Example output after running `yarn add --dev @dylanirlbeck/tailwind-ppx`

[code]

It appears that the `postinstall.js` script tries to find a platform-win32-x64 directory, but only a platform-windows-x64 directory exists. The script also does not properly check for the directory as the `supported` variable does not take into acc

[2020-06-03 02:12] dylanirlbeck commented on #96
Hey @bdunn313! Thanks for raising this issue. My `postinstall.js` script was taken mostly from the [`spin` template](https://github.com/tmattio/spin-templates/blob/master/ppx/template/script/release-postinstall.js), so we'll be debugging/learning together 😄 I'll drop a review in your PR, I think the issue makes sense though.

[2020-06-05 14:19] bdunn313 commented on #96
@dylanirlbeck Thanks! I saw your comment and responded. I think we're good to go after your final spot-check/approval. Let me know if there's any follow up, and thanks for creating/maintaining this project! I'm looking forward to using it!

[2020-06-05 16:30] #96 closed

[2020-06-06 16:54] dylanirlbeck commented on #96
@bdunn313 Just published version 0.7.8 on NPM. Fingers crossed that it works 🤞

[2020-06-06 17:31] bdunn313 commented on #96
@dylanirlbeck  Awesome! 🤞

[2020-06-10 13:46] dylanirlbeck opened #101 "Use all contributors spec for `Contributors` section"
As title, I'd prefer to be using https://github.com/all-contributors/all-contributors so that everyone who contributed gets recognized.

[2020-06-11 13:25] bdunn313 commented on #101
Seems like it might be best to consider integrating their bespoke bot:
https://allcontributors.org/docs/en/bot/overview

This would need to be done by a collaborator or owner, however, and thus wouldn't be a good first issue. If there's an explicit reason _not_ to use this bot, then it seems fine to keep this as a good first issue and integrate it manually, but the bot offers a lot!

[2020-06-11 15:39] dylanirlbeck commented on #101
@bdunn313 Thanks for the info. I’ve personally never used the all contributors spec, so I’ll go ahead and take this issue myself (and remove the good first issue label). The bot looks like the recommended approach!

[2020-06-15 01:04] dylanirlbeck commented on #101
@all-contributors please-add @tatchi for code, ideas, and maintenance

[2020-06-15 01:05] dylanirlbeck commented on #101
@all-contributors please-add @zth for code and ideas

[2020-06-15 01:06] dylanirlbeck commented on #101
@all-contributors please-add @bdunn313 for code and bug

[2020-06-15 01:09] dylanirlbeck commented on #101
@all-contributors please-add @tcoopman for bug and doc

[2020-06-15 01:10] dylanirlbeck commented on #101
@all-contributors please add @prometheansacrifice for doc

[2020-06-15 01:12] dylanirlbeck commented on #101
@all-contributors please add @peterpme for idea

[2020-06-15 01:13] dylanirlbeck commented on #101
@all-contributors please add @pckilgore for doc

[2020-06-15 01:14] dylanirlbeck commented on #101
@all-contributors please add @azkane for code, doc, idea

[2020-06-15 01:15] dylanirlbeck commented on #101
@all-contributors please add @joprice for code

[2020-06-15 01:16] dylanirlbeck commented on #101
@all-contributors please add @vdanchenkov for doc

[2020-06-15 01:20] dylanirlbeck commented on #101
Phew, I think I got everyone -- closing this out.

[2020-06-15 01:20] #101 closed

[2020-06-18 08:57] gaku-sei commented on #92
Sorry for the long hiatus, I'm still experiencing this issue (it's actually worse now the project is bigger....) CI fails ~80% of the time (when it works perfectly locally, and it still succeeds _sometimes_).

The issue seems to be related to Bucklescript, so I will open an issue on their repo, and link this issue 😕

As for the version used, we're using bs-platform 7.3.2, but we already faced this

[2020-06-19 06:59] gaku-sei opened #115 "PurgeCss extractor doesn't support some ppx call format"
Unfortunately, ReasonMl will reformat the following:

[code]

into

[code]

(Which I find highly debatable, but that's an other story).

So the current extractor's regex (`/(?<=\[%tw ")[^\"]*(?=\"\])/g`) will not catch some classes.

(Notice that if there is a way to preserve the original ppx syntax application (`[%tw "..."]`), it's good for me ^^)

_edit_: I found the related issue in the Reasonm

[2020-06-24 01:23] gaku-sei commented on #92
After digging more into the issue on the Bucklescript repo, it looks like the issue could be related to the ppx (https://github.com/BuckleScript/bucklescript/issues/4469#issuecomment-648524896).

It could occur when the ppx is spawn multiple times simultaneously.

[2020-06-24 14:05] #87 closed

[2020-06-24 16:05] dylanirlbeck commented on #92
@gaku-sei Gotcha, thanks for the heads up. I'm not sure where in the code we could be spawning the ppx multiple times simultaneously -- I'll need to ask in the Discord for some expert guidance on this. If you can, it'd also be worthwhile for you to go through the code to see if you know where the bug might be occurring (and potentially open a PR!)

[2020-06-25 02:42] gaku-sei commented on #92
Thank you very much @dylanirlbeck 🙏

To be honest I'm completely clueless about what's going on here 😕
I tried several things, like caching `lib` and `.graphql_ppx_cache` but it still fails. It _seems_ that when the compilation takes too much time, errors will occur (and since our project grows, errors heppen more often ^^), but I'm not even 100% certain...

If there is a way to enforce BuckleScri

[2020-06-25 04:52] gaku-sei commented on #92
It seems not possible to force bucklescript to use one thread only, but i noticed something: after removing all the calls to the ppx `[%tw ...]` and even though the ppx is still called, ci always works 😕

[2020-06-25 10:11] vdanchenkov commented on #92
Happens for us in random files bu very rare, on average one build in 30 fails.

[code]

As you see there are several ppx in use, but I'm posting it here simply because I found this issue in global search.

[2020-06-28 16:07] dylanirlbeck commented on #115
@gaku-sei Thanks for opening this issue -- I too do not agree with how `refmt` does the reformatting for that snippet. I'm thinking this issue wouldn't be terribly difficult to solve, we just need to extend the regex inside of our extractor to not care about whitespace or brackets (and instead focus on quotations). It might be more complex than that, but that's just an idea.

If you're interested

[2020-06-28 16:08] dylanirlbeck commented on #92
Thanks everyone for commenting -- I'll try and look into this more when I find some time, but I agree that this issue could be very frustrating.

[2020-07-19 22:04] dylanirlbeck commented on #115
@gaku-sei This issue should now be fixed in v0.7.9, which was just released on NPM. Let me know if you still encounter issues and I'll reopen the issue.

[2020-07-19 22:04] #115 closed

[2020-07-21 16:58] tsnobip commented on #92
I don't know if it's related, but after cleaning up, my first build systematically fails with:
[code]
then it builds index.css and the following incremental builds work correctly. I also use a very simple monorepo setup with yarn, might be related.

[2020-07-22 03:16] dylanirlbeck commented on #92
@tsnobip Do you mind filing a separate issue (with your directory structure and other important info.) for bookkeeping purposes? My impression is that this is not related, but I very well might be wrong.

[2020-07-22 07:01] tsnobip commented on #92
Sure, no problem :)

[2020-07-24 16:29] tsnobip opened #119 ""tailwind.css file not found in project hierarchy" error on fresh builds"
After cleaning up, my first build systematically fails with:
[code]
then it builds `index.css` and the following incremental builds work correctly. I also use a very simple monorepo setup with yarn, might be related.

My bsconfig.json is as follows:
[code]

Any idea why this happens?

[2020-08-02 15:55] vdanchenkov commented on #92
@gaku-sei I suggest you to check on latest version (0.7.9). We are seeing no build errors so far after the update.

[2020-08-04 05:34] gaku-sei commented on #92
Thank you @vdanchenkov 😄

Actually, I had to disable the ppx some times ago since it failed all the time and became impossible to keep 😢
But I really would like to bring it back actually, and we have a script ready for when the bug will be fixed.

I tried it again with version 0.7.9 but it still fails randomly with the same error. Just so you know we have more than 800 ppx calls in our app, and th

[2020-08-09 20:47] vdanchenkov commented on #92
@dylanirlbeck
Key for bug reproduction is `.tailwind_ppx_cache`. If file is present I see no errors. If I delete it before the build, I'm having local error just like on CI.

Knowing that I made reproduction repo https://github.com/vdanchenkov/tailwind-ppx-test

Added CircleCI there, but I'm not sure if build are visible by public.

Build on that repo fails more often than succeeds on my laptop.

[2020-08-10 18:33] dylanirlbeck commented on #92
@vdanchenkov Thanks a lot for that tip. I'll be looking into this issue (and others) as soon as I get some time freed up.

[2020-08-12 09:40] gaku-sei commented on #92
Not 100% sure about that :/

When starting using the ppx we had ~100 ppx calls and started to notice the error reported above. So the first thing we tried was to cache the .tailwind_ppx_cache file in CircleCi which did solve the issue.... For a while. When reaching > 500 ppx calls (~1000 now) we face the issue again 😞
(Could be related to a stale .tailwind_ppx_cache file though, i will try again n

[2020-08-12 09:43] gaku-sei commented on #92
I got a really interesting reply from @bobzhang https://github.com/rescript-lang/rescript-compiler/issues/4469#issuecomment-671728853

[2020-08-12 15:45] dylanirlbeck commented on #119
Just because I'm curious -- can you try removing the generator config and see what happens? I feel like I came across this a long time ago..

[2020-08-12 15:59] tsnobip commented on #119
Oh interesting, I'll check it out and let you know :)

[2020-08-17 06:27] #92 closed

[2020-08-17 15:03] dylanirlbeck commented on #92
Can you all try installing v0.8.0 and see if this fixes things? If not, I'll re-open this issue.

[2020-08-19 08:48] gaku-sei commented on #92
Thank you @tatchi and @dylanirlbeck !

Just so you know, the `bsb -make-world -- -j 4` "hack" actually helped, so I could restore all the tailwind ppx calls, and the ci passes 90% of the time!

I'm eager to test the v0.8.0 without the above hack, I will let you know as soon as possible 👍

[2020-08-19 10:05] gaku-sei commented on #92
Humm... Not sure exactly why, but it seems 0.8.0 is only available on https://www.npmjs.com/package/tailwind-ppx, not https://www.npmjs.com/package/@dylanirlbeck/tailwind-ppx. Also, the purge css part is absent from the release in https://www.npmjs.com/package/tailwind-ppx. Is it normal?

[2020-08-19 13:59] dylanirlbeck commented on #92
Just to confirm, does it work perfectly with v0.8.0 or the bsb -make-world hack? I'm not sure why the package got published under a different name, that's definitely an error.

[2020-08-19 14:15] gaku-sei commented on #92
My bad, it works with the new version, no need for the hack anymore.

(It passed the Circle ci build twice in a row, but I will try again tomorrow just in case 😕 )

[2020-08-19 19:57] dylanirlbeck opened #122 "Add Prettier and/or .editorconfig for formatting"
We have a few JS files in the project with no associated formater/linter, so let's add one.

[2020-08-20 14:03] dylanirlbeck commented on #92
@gaku-sei Alright so you should be able to try v0.8.0 for the NPM package `@dylanirlbeck/tailwind-ppx`. Let me know if there are any issues.

[2020-08-21 02:09] gaku-sei commented on #92
Thanks @dylanirlbeck
Unfortunately it seems the version 0.8.0 comes without the js part (for purge css), is it by design (to split the ppx and the js part?)

This is what gets installed:
<img width="203" alt="Capture d’écran 2020-08-21 à 11 08 54" src="https://user-images.githubusercontent.com/3982371/90844376-b63cd780-e39e-11ea-91f1-aed38aadcb05.png">

And it raises this error now:
<img width="

[2020-08-23 23:55] dylanirlbeck commented on #92
This should be fixed in v0.8.1! Please file a separate issue if you still encounter problems. Thanks everyone 😄

[2020-08-24 05:37] gaku-sei opened #124 "Binary is now located under @dylanirlbeck/tailwind-ppx/bin"
Since the last release (v0.8.1), the ppx binaries are located under `@dylanirlbeck/tailwind-ppx/bin`, instead of `@dylanirlbeck/tailwind-ppx`. Is it by design? (In which case we might need to update the docs)

[2020-08-24 05:37] gaku-sei commented on #92
Works like a charm! Thank you @dylanirlbeck 😄

[2020-08-24 14:55] tsnobip commented on #119
@dylanirlbeck I looked for a minimal repro and actually just cloning https://github.com/dylanirlbeck/my-first-pr/ and doing `bsb -clean-world` will reproduce the same error at next build since it erases `tailwind.css`.  So definitely not related to monorepo.

[2020-08-24 16:28] dylanirlbeck commented on #119
@tsnobip So I think this behavior is in fact due to how BuckleScript generators work, and thus is not a bug with `tailwind-ppx` (I may still be wrong, but this is my guess). In short, the generator automatically deletes the `$out` file when you run `bsb -clean-world`, and in this case that `$out` file is `tailwind.css`.

I can try and improve the docs and/or investigate the process to see if `tail

[2020-08-24 16:28] #119 closed

[2020-08-24 16:53] tsnobip commented on #119
oh ok, I'm not really sure how to make it work without the generator though, you do need a `tailwind.css` to be generated somehow and it shouldn't be versioned, so what's the regular process?

[2020-08-24 17:51] dylanirlbeck commented on #119
@tsnobip The generator is just an automated way to run the Tailwind CLI!

If the generator was working properly, you should already have the `tailwind-css` [NPM package](https://www.npmjs.com/package/tailwindcss) installed in your project. Thus, all you need to do is to manually generated the `tailwind.css` file whenever you change `index.css`, which can be done with something that looks like the

[2020-08-25 09:16] tsnobip commented on #119
works perfectly thank you, I feel a bit dumb now ^^
Maybe the use of generators should document this caveat though, when I have some time I'll try to see if the generator can be triggered before the build so it doesn't create this situation anymore.

[2020-08-25 13:01] dylanirlbeck commented on #119
Awesome! Yeah if you have any insights please let me know, I'd love to change our docs if there is a better way to do this.

[2020-08-25 14:05] dylanirlbeck commented on #124
@gaku-sei This is certainly a bug, the `tailwind-ppx` binary should be located via `@dylanirlbeck/tailwind-ppx`. Thanks for reporting!

[2020-08-30 02:57] dylanirlbeck commented on #124
Alright the docs are now updated with the correct path to the binary. TLDR the path is now just `tailwind-ppx`.

[2020-08-30 15:15] #124 closed

[2020-08-30 15:17] dylanirlbeck opened #128 "Use current version of esy in CI"
Per [Manas's comment](https://github.com/dylanirlbeck/tailwind-ppx/pull/126#issuecomment-683420878), we should be able to do use the latest version of esy in CI but enforce that `rewritePrefix` is true.

cc @tatchi

[2020-09-23 15:28] JakubMarkiewicz opened #130 "Postinstall _export not handling existing directory"
Hey,
Sometimes when i deploy app to vercel it happens to crash due to postinstall script not checking, if `_export` directory is already present.

[code]

[code]

Maybe we could handle this case by checking if said directory exists and if so, just replacing the binary inside.
I could make a PR

[2020-09-23 20:56] vdanchenkov commented on #130
Builds started to fail 3 days ago with exactly the same error.

Local reproduction:
[code]

[2020-09-23 22:02] dylanirlbeck commented on #130
Yeah we did change the build process recently. @JakubMarkiewicz I think the fix you mentioned should work, so a PR would be much appreciated!

cc @tatchi since I believe you made these changes.

[2020-09-23 22:46] JakubMarkiewicz commented on #130
I've got the working fix but there is one more thing. I've never encountered it during deployment, can't really tell if this is an issue but it definitely is when building locally.
It's the same thing but during esyInstallRelease
[code]
Removing the file fixes the issue, but I guess there is no way for us to change the behavior of esyInstallRelease?

[2020-09-24 13:21] JakubMarkiewicz commented on #130
Esy maintainer confirmed that they are able to make a fix for second problem. I believe this issue can be closed now

[2020-09-24 13:41] JakubMarkiewicz commented on #122
Would just simple
[code]
with ignoring
[code]
and workflow
[code]

Be fine for you? I'm not sure about the workflow, never used it before

[2020-09-25 20:03] dylanirlbeck commented on #122
That should work! My intention is just to format the JS files in `workflow/` and `js/`. If you open a PR and/or test locally that'd be awesome.

[2020-10-01 19:31] dylanirlbeck commented on #130
@JakubMarkiewicz Can you try the latest version I released (v0.8.3)? It should include the changes from your latest PR. If that doesn't fix this issue I'll re-open.

[2020-10-01 19:31] #130 closed

[2020-10-01 19:58] JakubMarkiewicz commented on #130
I'll key an eye on builds, so far after 2 builds no issue despite having like 4 failed builds earlier today.

[2020-10-16 18:55] #88 closed

[2020-10-30 19:23] d4h0 opened #134 "Returning CSS as object to use with React's style prop (feature request)"
Hi,

would it be possible to add a second PPX that – instead of returning class names – returns an object in the format that React's `style` prop accepts?

Using `style` wouldn't just be a bit shorter than `className` but also eliminate the need for `PurgeCSS` (I believe). Additionally, this might make it possible to extend styles of other CSS-in-JS libraries with `tailwind-ppx`, which would be fa

[2020-10-31 14:34] vdanchenkov commented on #130
Still seeing following build error quite often:

[code]

[2020-11-28 04:52] dylanirlbeck commented on #134
Hey @d4h0, sorry for the massive delay on this. Can you give me an example of what this new PPX would look like? My current understanding of Tailwind CSS is that it _necessarily_ must be used with the `className` prop, so if you could help me understand how one would use the `style` prop I can have a more fruitful discussion with you.

Thanks!

[2020-11-28 15:34] d4h0 commented on #134
Basically, I'm proposing something like [twin.macro](https://github.com/ben-rogerson/twin.macro) for Reason.

This means, this PPX would need to parse the CSS file into a structure that returns the CSS of a class as "CSS-in-JS" / "CSS-in-ReasonML".

This "CSS-in-JS" then could be passed to the `style` prop.

Ideally this also would be compatible with other "CSS-in-JS" libraries for Reason.

Does t

[2020-11-30 17:15] dylanirlbeck commented on #88
@celsobonutti Did you see [Brad's comment](https://github.com/tailwindlabs/tailwindcss-intellisense/issues/129#issuecomment-735915659) about the new experimental regex feature? Would be awesome if you could try it out with `tailwind-ppx`! If it works, feel free to open a PR to add a section to the README 😄

[2020-11-30 17:20] celsobonutti commented on #88
Hey @dylanirlbeck! I'll do it as soon as I can, thanks for the heads up! 😄

[2020-12-04 16:20] dylanirlbeck commented on #134
I think I understand you a bit more now -- the difficulty is that I, perhaps surprisingly, have never used CSS-in-JS.

I want to understand the value of including such a feature inside `tailwind-ppx`, rather than creating a separate PPX entirely. From my limited PPX development, I believe it'd be possible to re-use the same `tw` syntax for the PPX, but pass in a different data structure that is no

[2020-12-05 18:50] d4h0 commented on #134
The value mostly would be that this functionality is available from one package, and I guess it would be a bit easier to develop (some code/setup could be shared).

I think I didn't explain the use case good enough... 😅

Let's say, we have the following code:

[code]

`[%twi "flex flex-row"]` would return something like `{display: "flex", flexDirection: "row"}` (I'm not 100% sure if that's the cor

[2021-01-08 10:33] d4h0 opened #137 "Idea: Add underscore at the beginning to dissable a class easily"
Hi,

Something I often use with "vanilla Tailwind" is to prefix a class with an underscore to disable it temporarily.

For example this:

[code]

becomes this:

[code]

At the moment, this is handles like an error. What I propose, is to treat this special case as a warning (a warning would still be useful, so these classes don't end up in production). This would be similar to how we use an undersc

[2021-01-14 21:31] dylanirlbeck commented on #137
Hey @d4h0, this is an interesting feature request. I personally haven't done this during development in JS, for instance, but I can see the use case pretty clearly: It would speed up development for the same reasons that prefixing unused variables with an underscore causes less headache.

I don't know when/if I'll get around to implementing this feature, though it seems fairly trivial. If anyone w

[2021-01-14 21:34] dylanirlbeck commented on #90
Not a fan of keeping this open anymore. This feature seems kind of meaningless.

I'm open for someone to design a nice logo for the project, though! Do post below if you're interested.

[2021-01-14 21:34] #90 closed

[2021-02-14 08:18] CarlOlson opened #138 "ReScript Backticks"
It looks like other ReScript PPX projects (like `graphql-ppx` and `styled-ppx`) allow backticks.

[code]

It would also require updating the extractor for purgecss.

Otherwise `tailwind-ppx` works fine inside ReScript. :+1:

[2021-02-14 08:30] CarlOlson opened #139 "Build Order"
When using `bsconfig.json` to generate `tailwind.css` the first build fails. Builds after the first are fine once `tailwind.css` has been created.

[code]

I tried different options, but it doesn't look like `bsconfig` is able to handle this. I think this is possible to handle inside the ppx, but I'm not sure.

[2021-02-19 06:21] gaku-sei commented on #138
Sorry just my 2 cents, it seems the extractor works with ReScript already (https://github.com/dylanirlbeck/tailwind-ppx/blob/master/js/index.js) (v0.8.4), at least I could make it work on a pretty lage codebase recently 😕

[2021-02-19 06:38] gaku-sei opened #140 "An error is thrown when trying to remove or reinstall an other node module (with Yarn)"
Running `yarn` or `yarn remove ...` will often throw an error, like here on Circle CI:

[code]

I wonder if removing the folder `3` in the postinstall script (after the package is built) could solve this issue?

[2021-03-10 15:48] dylanirlbeck commented on #140
Hmm, yeah that is weird. I haven't looked at the build process in quite a while, so I'll need to revisit this issue.

We do some weird stuff with caching in the same directory as the package, so that might be causing the issue.

[2021-03-10 15:49] dylanirlbeck commented on #139
Ugh, yeah this is a perennial issue -- several people have asked about it in the issues. I personally think it is an issue with `bsconfig`, but it might be worth just asking Hongbo/ReScript people on the Discord.

In the meantime, I will take a second look to see if something's changed/if there's a way to fix it.

Thanks for opening the issue!

[2021-03-10 15:54] dylanirlbeck commented on #138
Got it. The issue _seems_ pretty straightforward. I think it'd just involve a change in the [AST matcher](https://github.com/dylanirlbeck/tailwind-ppx/blob/b8bc31e7a3ef9262c5bed4d1a9e876d4570ac153/src/ppx/Tailwind_ppx.re#L13), but I'm wondering if there's a way to make it backwards-compatible with people who aren't using ReScript.

Regarding the extractor, there was a [PR](https://github.com/dylan

[2021-04-04 15:43] dylanirlbeck commented on #139
@CarlOlson Did you ever reach out via Discord and/or fix the issue? If so, I'd love to update the ppx docs with a workaround. Thanks!

[2021-04-19 06:16] dauletisataev commented on #88
Hey! @celsobonutti @dylanirlbeck  so, you decided to stick with `tailwindCSS.experimental.classRegex` ? if yes, it would be very helpful for others to post kinda guideline here :)

[2021-04-19 11:15] dauletisataev commented on #88
I have added quick configuration in `settings.json`:
`"tailwindCSS.experimental.classRegex": [
      "%tw \"([^\"]*)"
  ]`
But, it does not cover the cases like this, when string started in new line:
`%tw
"top-full left-0"`

[2021-05-12 11:59] dauletisataev commented on #140
@dylanirlbeck any updates?

[2021-05-15 23:13] dylanirlbeck commented on #140
@dauletisataev No updates, but I will take a look soon to see if there's an easy fix. I just graduated so I'll have some more time on my hands 😄